<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{basics.firstName}} {{basics.lastName}}</title>
		<link href="http://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet">
		<style>
			{{{css}}}
		</style>


	</head>
	<body>
		<div class='container-fluid'>
			<main class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<section id='header' class="row">
				<div class="title">
					<h1>{{basics.name}}</h1>
					<h2 class='vr'></h2>
					<h2>{{basics.label}}</h2>
				</div>
				<div class="pull-right">
					{{#basics.website}}
					<strong>Website:</strong> <a href="{{basics.website}}">{{basics.website}}</a> <br />
					{{/basics.website}}
					{{#basics.email}}
					<strong>Email:</strong> <a href="mailto:{{basics.email}}">{{basics.email}}</a><br />
					{{/basics.email}}
					{{#basics.profiles.length}}
						<section id="profiles">
						{{#basics.profiles}}
							{{#network}}
							<strong class="network">
								{{.}}:
							</strong>
							{{/network}}
							{{#username}}
							{{#url}}
							<a target="_blank" href="{{url}}">{{username}}</a>
							{{/url}}
							{{^url}}
							{{username}}
							{{/url}}
							{{/username}}
							{{^username}}
							{{#url}}
							<a target="_blank" href="{{url}}">{{url}}</a>
							{{/url}}
							{{/username}}
							<br />
						{{/basics.profiles}}
						{{#basics.phone}}
						<strong>Phone:</strong> {{basics.phone}} <br />
						{{/basics.phone}}
						</section>
					{{/basics.profiles.length}}
				</div>
				</section>

				<hr style="color: #ccc; height: 4px;" />
				
				<section id='summary' class="row">
				<header class="col-sm-3">
				<h3>Summary</h3>
				</header>
				<div class="col-sm-9">
					<p></p>
					{{#basics.summary}}
						<p>{{basics.summary}}</p>
					{{/basics.summary}}
				</div>
				</section>

				<hr />

				<section id="skills" class="row">
				<header class="col-sm-3">
				<h3>Skill Highlights</h3>
				</header>
				<div class="col-sm-9">
					<div class="row">
					<div class="col-sm-6">
						<div class="name">
							<h4 style="margin: 3px 0;">DevOps</h4>
						</div>
						<ul class="skillslist">
							<li>Hashicorp Terraform</li>
							<li>Hashicorp Vault</li>
							<li>Hashicorp Packer</li>
							<li>Docker / Containers</li>
							<li>Amazon ECS</li>
							<li>AWS CodeDeploy / CodePipeline</li>
							<li>AWS ElasticBeanstalk / Opsworks</li>
							<li>Chef Server / Chef Solo / Chef Zero</li>
							<li>Atlassian Bamboo</li>
							<li>JetBrains TeamCity</li>
							<li>TFS Build / vNext</li>
							<li>Powershell / Batch / Bash / Python</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<div class="name">
							<h4 style="margin: 3px 0;">Operations</h4>
						</div>
						<ul class="skillslist">
							<li>AWS (Expert)</li>
							<li>VMWare</li>
							<li>Citrix XenApp</li>
							<li>Network Design</li>
							<li>Windows Administration and Automation</li>
							<li>Linux Administration and Automation</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<div class="name">
							<h4 style="margin: 3px 0;">Development</h4>
						</div>
						<ul class="skillslist">
							<li>Git / Gitflow</li>
							<li>C# .NET</li>
							<li>PHP</li>
							<li>Selenium</li>
							<li>Ruby / Chef</li>
							<li>REST API</li>
							<li>Service Bus (Mulesoft)</li>
							<li>Software Architecture</li>
							<li>MS SQL / MySQL / Oracle</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<div class="name">
							<h4 style="margin: 3px 0;">Soft Skills</h4>
						</div>
						<ul class="skillslist">
							<li>Leadership</li>
							<li>Entrepreneurial Mindset</li>
							<li>Big-Picture Thinker</li>
							<li>Personable and Affable</li>
							<li>INTJ</li>
						</ul>
					</div>
					</div>
				</div>
				</section>

				<hr />

				{{#work.length}}
				<section id='work' class="row">
				<header class="col-sm-3">
				<h3>Work Experience</h3>
				</header>
				<div class="col-sm-9">
					<div class="details">
						{{#work}}
						<h3>{{company}}<span class="date pull-right">{{startDateYear}} - {{endDateYear}}</span></h3>
						<strong>{{position}}</strong>
						{{#website}}
						<div class="website pull-right">
							<a target="_blank" href="{{.}}">{{.}}</a>
						</div>
						{{/website}}
						<p>{{summary}}</p>
						<ul>
							{{#highlights}}
							<li>{{.}}</li>
							{{/highlights}}
						</ul>
						{{/work}}
					</div>
				</div>
				</section>
				<hr />
				{{/work.length}}

				{{#awards.length}}
				<section id='awards' class="row">
				<header class="col-sm-3">
				<h3>Certifications</h3>
				</header>
				<div class="col-sm-9">
					<div class="details">
						{{#awards}}
						<h3>{{title}}<span class="date pull-right">{{date}}</span></h3>
						<strong>{{educationDetail}}</strong>
						<p>{{summary}}</p>
						{{#courses.length}}
						<ul class="courses">
							{{#courses}}
							<li>{{.}}</li>
							{{/courses}}
						</ul>
						{{/courses.length}}
						{{/awards}}
					</div>
				</div>
				</section>
				<hr />
				{{/awards.length}}

				{{#education.length}}
				<section id='education' class="row">
				<header class="col-sm-3">
				<h3>Education</h3>
				</header>
				<div class="col-sm-9">
					<div class="details">
						{{#education}}
						<h3>{{institution}}<span class="date pull-right">{{startDateYear}}{{endDateYear}}</span></h3>
						<strong>{{educationDetail}}</strong>
						<p>{{summary}}</p>
						{{#courses.length}}
						<ul class="courses">
							{{#courses}}
							<li>{{.}}</li>
							{{/courses}}
						</ul>
						{{/courses.length}}
						{{/education}}
					</div>
				</div>
				</section>
				<hr />
				{{/education.length}}

				{{#skills.length}}
				<section id='skills' class="row">
				<header class="col-sm-3">
				<h3>Skills</h3>
				</header>
				<div class="col-sm-9">
					<div class="details row">
						{{#skills}}
						<div class='col-sm-12'>
							<ul>
								<li>
								<h4>{{name}} <span class="pull-right">{{level}}</span></h4>
								<ul>
									{{#keywords}}
									<li>{{.}}</li>
									{{/keywords}}
								</ul>
								</li>
							</ul>
						</div>
						{{/skills}}
					</div>
				</div>
				</section>
				<hr />
				{{/skills.length}}

				{{#volunteer.length}}
				<section id='volunteer' class="row">
				<header class="col-sm-3">
				<h3>Volunteer</h3>
				</header>
				<div class="col-sm-9">
					<div class="details">
						{{#volunteer}}
						<h3>{{organization}}<span class="date pull-right">{{startDateYear}} - {{endDateYear}}</span></h3>
						<strong>{{position}}</strong>
						{{#website}}
						<div class="website pull-right">
							<a target="_blank" href="{{.}}">{{.}}</a>
						</div>
						{{/website}}
						<p>{{summary}}</p>
						<ul>
							{{#highlights}}
							<li>{{.}}</li>
							{{/highlights}}
						</ul>
						{{/volunteer}}
					</div>
				</div>
				</section>
				<hr />
				{{/volunteer.length}}

				{{#languages.length}}
				<section id='languages' class="row">
				<header class="col-sm-3">
				<h3>Languages</h3>
				</header>
				<div class="col-sm-9">
					<div class="details">
						{{#languages}}
						<ul>
							<li>
							<h4>{{language}} <span class="pull-right">{{fluency}}</span></h4>
							</li>
						</ul>
						{{/languages}}
					</div>
				</div>
				</section>
				<hr />
				{{/languages.length}}

				{{#references.length}}
				<section id='references' class="row">
				<header class="col-sm-3">
				<h3>References</h3>
				</header>
				<div class="col-sm-9">
					<div class="details row">
						{{#references}}

						<p>{{reference}} -
						<strong>{{name}}</strong>
						</p>
						{{/references}}
					</div>
				</div>
				</section>
				{{/references.length}}

				<footer></footer>
			</div>
			</main>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
	</body>
</html>
